body{
    font-family: 'Fira Sans', sans-serif;
}
.flex{
    display: flex;
    margin-top: 90px;
    margin-bottom: 50px;
}

.description{
    width: 50%;
}
#slogan{
    color: gray;
    padding-left: 100px;
    padding-top: 120px;
}
#about-me{
    padding-right: 125px;
    padding-left: 300px;
}    

#first-image{
    width: 100%;
}
#second-image{
    width: 75%;
    padding-left: 200px;
}

h1{
    font-size: 55px;
    color: rgb(80, 79, 79);
    }
h2{
    font-size: 50px;
    color: gray;   
}
span{
    color: orange;
}    

    
a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right,rgb(255, 136, 0) , tomato);
    padding: 20px 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgb(248, 188, 77);
}
#background{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
#middle{
    text-align: center;
    padding: 0 250px;
    margin-top: 100px;
}
.recipes{
    width: 30%;
    border-radius: 30px;
    box-shadow: 0 0 20px rgb(94, 92, 88);
    padding-left: 20px;
    margin: 0 10px 40px 50px; 

}
.recipy{
    width: 90%;
    border-radius: 30px;
    margin-left: 10px;
    padding-top: 20px;
}
#food-bocks{
    margin-left: 40px;
}
